@import "tailwindcss";
@plugin "daisyui" {
    themes: garden --default, business --dark;
}
@custom-variant dark (&:where([data-theme=business], [data-theme=business] *));

.bookself-top-level-container {
    min-height: 100vh;
    width: 100vw;
    --admin-bar-height: 32px;
    --admin-bar-mobile-height: 46px;
}

.wp-admin-bar.logged-in .bookself-top-level-container {
    min-height: calc(100vh - var(--admin-bar-height));
}

@media (max-width: 782px) {
    .wp-admin-bar.logged-in .bookself-top-level-container {
        min-height: calc(100vh - var(--admin-bar-mobile-height));
    }
}
